@import '~antd/dist/antd.css';

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
